services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app   
    command: uv run uvicorn main:app --host 0.0.0.0 --port 8000 --reload
