services:
  backend:
    build: ./backend
    container_name: m-dashboard-backend
    ports:
      - "4000:8000"
    volumes:
      - ./backend:/app   
    command: uv run uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      MONGO_URI: mongodb://admin:123456@mongo:27017/dashboard?authSource=admin
      MONGO_DB_NAME: dashboard

      SECRET_KEY: 09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
      ALGORITHM_JWT: HS256
      ACCESS_TOKEN_EXPIRE: 30 # minutes
      REFRESH_TOKEN_EXPIRE: 7 # days

      REDIS_HOST: m-dashboard-redis
      REDIS_PASSWORD: 123456
      REDIS_PORT: 6379

  
  mongo:
    image: mongo:latest
    container_name: m-dashboard-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin 
      MONGO_INITDB_ROOT_PASSWORD: 123456
      MONGO_INITDB_DATABASE: dashboard
    volumes:
      - ./data/mongodb:/data/db

  redis:
    image: redis:latest
    container_name: m-dashboard-redis
    command: ["redis-server", "--requirepass", "123456"]
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data